<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Care Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Care Giver", "Index", "CareGiver", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Client", "Index", "Client", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Next Of Kin", "Index", "NextOfKin", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Doctor", "Index", "Doctor", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Visit", "Index", "Visit", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Visit Tasks", "Index", "VisitTask", new { area = "" }, null)</li>-->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Care Tracker</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(function () {
            $(".jqueryui-marker-datepicker").datepicker({
                //dateFormat: "yy-mm-dd",
                    dateFormat: "dd-mm-yy",
                    changeYear: true,
                    changeMonth: true,
                    yearRange: "-100:+0",
                    showOn: "button"
                }).css("display", "inline-block")
                .next("button"), button({
                    icons: { primary: "ui-icon-calender" },
                    label: "Select a date",
                    text:false
                });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
